.col-md-6
  .portfolio-img-box= image_tag portfolio.photo_url
  %h3.portfolio-title= link_to(portfolio.title, portfolio_path(portfolio))
  %p.portfolio-item-p= sanitize(truncate(portfolio.description, length: 250))
