%div.portfolio-main-image= image_tag '/images/matt-leonard-rock-on.jpg'

%h1.portfolio-tag-line= "Want to be the next item on this page?"

.container
  .col-md-10.col-md-offset-1
    .col-md-10.col-md-offset-1
      %p.portfolio-p= "I am always looking for new projects to work on. If you have a startup idea that needs some coding, I would love to contribute pro bono. Also if you have any Ruby on Rails question feel free to shoot them my way."

  .container
    .row
      - @portfolios.each do |portfolio|
        = render partial: 'picture_item', locals: {portfolio: portfolio}
