%nav.header
  %a.header-brand{href: '/'}= 'TS'
  %ul.nav.navbar-nav.navbar-right.header-links
    %li
      = link_to "Blog", root_path
    %li
      = link_to "About Me", about_mes_path
    %li
      = link_to "Portfolio", portfolios_path
    %li
