%nav.header
  %a.header-brand{href: '/'}= 'M'
  %ul.nav.navbar-nav.navbar-right.header-links
    %li
      = link_to "Blog", 'https://medium.com/@mattleo'
    %li
      = link_to "About Me", about_mes_path
    %li
      = link_to "Portfolio", portfolios_path
    %li
