%nav.header
  %a.header-brand{href: '/'}= 'M'
  %ul.nav.navbar-nav.navbar-right.header-links
    %li
      = link_to "Portfolio", '/portfolio'
    %li
      = link_to "Blog", 'http://blog.mattl.co'
    %li
