.portfolio
  .col-md-2
    .portfolio-img=image_tag portfolio.photo_url
  .col-md-10
    %h3.portfolio-title= portfolio.title
    %h5.portfolio-subtitle= portfolio.subtitle
    %p.portfolio-body= portfolio.description