.about-mes-item
  .col-md-2
    .about-mes-item-img= image_tag portfolio.photo_url
  .col-md-10
    %h3.about-mes-item-title= portfolio.title
    %h5.about-mes-item-subtitle= portfolio.subtitle
    %p.about-mes-item-body= portfolio.description