.about-main-image {
  max-height: 600px;
  overflow: hidden;
  img {
    width: 100%;
    margin-top: -15%;
  }
}

.about-tag-line {
  text-transform: uppercase;
  text-align: center;
  padding: 14px;
}

.about-title {
  padding-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
}

.about-p {
  margin-bottom: 40px;
  font-size: 1.6em;
}

.about-section {
  margin-bottom: 24px;
}