.about-main-image img {
  width: 100%;
}

.about-tag-line {
  text-transform: uppercase;
  text-align: center;
}

.about-title {
  text-transform: uppercase;
}

.about-p {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.6em;
}

.about-section {
  margin-bottom: 24px;
}